:root {
 --primary-color: #fff;
 --secondary-color: #ebebeb;
 --white: #fff;
 --text-dark: #222323;
 --light-color: #f5f5f5;
 --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.23);
 --dark-color: #e7e6e6;
 --text-light: #ffffff;
 --danger-color: #EF4056;
 --accent-color: #FF3A3B;
 --success: #49df78;
 --link-color: #1e1e1e;
}
